@font-face {
  font-family: 'Star Jedi';
  src: url('../fonts/Starjhol.ttf') format('truetype');
  font-display: swap;
}

* {
  font-family: 'Franklin Gothic Medium', 'Century Gothic', 'Copperplate Gothic',
    Arial, sans-serif;
}
